extends ../../layouts/index.jade

block head-title
    | - animation an object

block styles
    link(href="style.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css')

block scripts
    script(src='main.js')

block content
    .Container
    .Bg

