extends ../../layouts/index.jade

block head-title
    | - animation an object

block styles
    link(href="style.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css')

block scripts
    script(src='main.js')

block content
    - var logos = []
    - logos.push({title: "Друзья", src: "img/01.jpg"})
    - logos.push({title: "Яркость", src: "img/02.jpg"})
    - logos.push({title: "Любитель", src: "img/03.jpg"})
    - logos.push({title: "Колобок", src: "img/04.jpg"})
    - logos.push({title: "Сила", src: "img/05.jpg"})
    - logos.push({title: "Охотник", src: "img/06.jpg"})
    - logos.push({title: "Что-то случилось", src: "img/07.jpg"})
    - logos.push({title: "В космос", src: "img/08.jpg"})
    - logos.push({title: "Мечты", src: "img/09.jpg"})
    - logos.push({title: "Страх", src: "img/10.jpg"})
    - logos.push({title: "Огонь", src: "img/11.jpg"})
    - logos.push({title: "Любовь", src: "img/12.jpg"})
    - logos.push({title: "Мгла", src: "img/13.jpg"})
    - logos.push({title: "Это не я!", src: "img/14.jpg"})
    - logos.push({title: "Партизан", src: "img/15.jpg"})
    - logos.push({title: "Улыбочку", src: "img/16.jpg"})
    - logos.push({title: "Полет", src: "img/17.jpg"})
    - logos.push({title: "Жизнь", src: "img/18.jpg"})
    - logos.push({title: "Снег", src: "img/19.jpg"})
    - logos.push({title: "Модно", src: "img/20.jpg"})

    .Logos
        ul.Logos-images
            each logo in logos
                li.Logos-item
                    .Logos-image(style="background-image: url(#{logo.src})")

        ul.Logos-covers
            each logo in logos
                li.Logos-item
                    .Logos-cover
                        .Logos-title!= logo.title
