extends ../../layouts/index.jade

block head-title
    | - animation an object

block styles
    link(href="style.css", rel="stylesheet")

block scripts
    script(src='main.js')

block content
    .Ball1
    .Ball2
    .Floor
        
    