extends ../../layouts/index.jade

block head-title
    | - animation an object

block styles
    link(href="style.css", rel="stylesheet")
    link(href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css')

block scripts
    script(src='main.js')

block content
    article.Article
        h1.Article-title Хоббит: Нежданное путешествие
        p.Article-intro В&nbsp;первом из&nbsp;трех фильмов, переносящих на&nbsp;экран бессмертный шедевр Дж. Р.&nbsp;Р.&nbsp;Толкеина &laquo;Хоббит&raquo;, его главный герой Бильбо Бэггинс вместе с&nbsp;магом Гэндальфом и&nbsp;тринадцатью гномами под предводительством Торина Дубощита неожиданно для себя самого отправляется в&nbsp;поход, чтобы отвоевать у&nbsp;дракона...
