doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    title PhysicsJS
    link(href="/css/build.min.css", rel="stylesheet")
    
  body

    - var listOfExamples = [];
    - listOfExamples.push({title: 'setInterval', link: '/examples/01_animateObjectSetInterval/'})
    - listOfExamples.push({title: 'requestAnimationFrame', link: '/examples/02_animateObjectRequestAnimateionFrame/'})
    - listOfExamples.push({title: 'Прягающий мячик', link: '/examples/03_bouncingBall/'})
    - listOfExamples.push({title: 'Прягающий мячик c силой сопротивления', link: '/examples/04_bouncingBallWithForces/'})
    - listOfExamples.push({title: 'Галерея', link: '/examples/05_galleryBouncing/'})
    - listOfExamples.push({title: 'Движение мяча', link: '/examples/07_movingBall/'})
    - listOfExamples.push({title: 'Сила трения', link: '/examples/06_frictionForce/'})
    //- - listOfExamples.push({title: 'Горизонтальный скролл', link: '/examples/07_frictionForce/'})
    - listOfExamples.push({title: 'Вертикальный скролл', link: '/examples/08_frictionForceVert/'})
    - listOfExamples.push({title: 'Скролл со стрелками', link: '/examples/09_frictionForceWithArrows/'})
    - listOfExamples.push({title: 'Пружины', link: '/examples/10_spring/'})
    - listOfExamples.push({title: 'Логотип', link: '/examples/11_logo/'})
    - listOfExamples.push({title: 'Логотипы', link: '/examples/12_logos/'})
    - listOfExamples.push({title: 'Движение мячика', link: '/examples/14_ballMoving/'})
    - listOfExamples.push({title: 'Движение объектов', link: '/examples/13_movingObjects/'})


    ul.listOfExamples
      each item in listOfExamples
        li.listOfExamples__item
          a.listOfExamples__link(href=item.link)!= item.title