doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    title PhysicsJS
    link(href="/css/build.min.css", rel="stylesheet")
    
  body

    - var listOfExamples = [];
    - listOfExamples.push({title: 'Движение мячика', link: '/examples/01_movingBall/'})

    ul.listOfExamples
      each item in listOfExamples
        li.listOfExamples__item
          a.listOfExamples__link(href=item.link)!= item.title