doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    title PhysicsJS
    link(href="/css/build.min.css", rel="stylesheet")
    
  body

    - var listOfExamples = [];
    - listOfExamples.push({title: 'Движение мячика', link: '/examples/01_movingBall/'})
    - listOfExamples.push({title: 'Сила трения на мячике', link: '/examples/02_frictionBall/'})
    - listOfExamples.push({title: 'Горизонтальный скролл', link: '/examples/03_frictionForceHoris/'})
    - listOfExamples.push({title: 'Вертикальный скролл', link: '/examples/04_frictionForceVert/'})
    - listOfExamples.push({title: 'Добавляем мощности', link: '/examples/05_frictionForceWithArrows/'})
    - listOfExamples.push({title: 'Ускоряющийся мячик', link: '/examples/06_acceleratingBall/'})
    - listOfExamples.push({title: 'Прыгающий мячик', link: '/examples/06_bouncingBall/'})
    - listOfExamples.push({title: 'Прыгающая галерея', link: '/examples/06_galleryBouncing/'})
    //- - listOfExamples.push({title: 'Колебание', link: '/examples/09_spring/'})
    //- - listOfExamples.push({title: 'Колебание по окружности', link: '/examples/10_springRound/'})
    - listOfExamples.push({title: 'Колебание затухающее', link: '/examples/11_springDamping/'})
    //- - listOfExamples.push({title: 'Логотип', link: '/examples/12_logo/'})
    - listOfExamples.push({title: 'Логотипы', link: '/examples/13_logos/'})
    - listOfExamples.push({title: 'Оттягивание окон', link: '/examples/14_windowSpring/'})
    - listOfExamples.push({title: 'Собирающаяся картинка', link: '/examples/15_image/'})
    - listOfExamples.push({title: 'Убегающий шарик', link: '/examples/16_movingOneObject/'})
    - listOfExamples.push({title: 'Распад', link: '/examples/17_movingObjects/'})
    //- - listOfExamples.push({title: 'Распад 2', link: '/examples/18_movingObjects2/'})
    //- - listOfExamples.push({title: 'о_О', link: '/examples/19_movingObjects3/'})


    ul.listOfExamples
      each item in listOfExamples
        li.listOfExamples__item
          a.listOfExamples__link(href=item.link)!= item.title