doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    title
      | PhysicsJS
      block head-title
    link(href="/css/build.min.css", rel="stylesheet")
    block styles
    

  body
    block content
    
    script(src='/js/libs.min.js')
    block scripts