doctype html
html(lang="ru") 
  head
    meta(charset="utf-8")
    meta(name="viewport" id="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=no")
    title
      | PhysicsJS
      block head-title
    link(href="/css/build.min.css", rel="stylesheet")
    block styles
    

  body
    block content
    
    script(src='/js/libs.min.js')
    block scripts